.view-post{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-post-details{
    max-width: 800px;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    background-color: #f0f2f5;
}
.view-post-details .post-image, .ant-image{
 height: 300px;
 border-radius: 10px;
}
.post-body{
    color:#6b7280 ;
}
.body-post{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
        justify-content: center;
    align-items: center;
}