table tr td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-table{
      width: 94vw;
}
.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
  cursor: pointer;
}