.dashboard-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 1100px;
        justify-content: space-between;
}
.ant-card .avatar-card{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.ant-card-cover{
    padding-top: 20px;
        display: flex;
    justify-content: center;
}
.ant-pagination{
    padding: 0px 20px;
    justify-content: end;
}
@media(min-width:610px) and (max-width:1100px){
    .dashboard-card{
        width:600px ;
    }
}