.user-table{
      width: 80vw;
}
.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
  cursor: pointer;
}

/*  for drak mode*/

.my-body-class .user-table th , .my-body-class .user-table td{
  color: white !important;
}
.my-body-class .user-table thead tr ,th{
  background: #374151;
}
.my-body-class table thead tr th{
  background: #374151 !important;
  color: white;

}
.my-body-class table tbody td{
    background: #374151;
  
}
.my-body-class .ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
  background: rgb(62, 102, 116);
}