/* Header component styles: reuse header-avatar class used elsewhere */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-avatar{
  border-radius: 50%;
  box-sizing: border-box;
}

/* dark mode */
.my-body-class .ant-popover .ant-popover-inner{
    background: #374151;
}
.my-body-class .ant-popover-inner-content p{
 color: white;
}
.my-body-class .ant-popover-arrow::after{
    background: #374151;
}