.dashboard{
            display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
    background:#f0f2f5 ;
    justify-content: space-between;
    min-height:calc(100vh - 64px) ;
        
}
.card-table-user-view .ant-tabs-nav-list{
    border-radius: 3px;
}
.header-avatar{
    background: hsl(359.33deg 100% 65.1%);
    border-radius: 50%;
}
.input-search-user-dashboard{
    margin-top:19px ;
    border-radius:0px ;
}
.dashboard .ant-tabs{
    display: flex;
     justify-items: center;
     align-items: center;
}
.card-table-user-view .ant-tabs-nav{
    padding: 0px 50px;
    margin: 0px;
    width: 100%;
}
.card-table-user-view .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab{
    padding: 0px;
    margin: 0px;
}
.card-table-user-view .ant-tabs-tab {
    border: solid 1px hsl(0deg 0% 85.1%);
  border-radius: 0px;
  margin: 0;
  padding: 6px 16px;
  transition: all 0.2s ease;
}

.card-table-user-view .ant-tabs-tab-active:nth-child(1) {
  border-top-left-radius: 3px ;
  border-bottom-left-radius: 3px ;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

.card-table-user-view .ant-tabs-tab-active:nth-child(2) {
  border-top-right-radius: 3px ;
  border-bottom-right-radius: 3px ;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
  border-right:solid 1px #1677ff ;
}

.card-table-user-view .ant-tabs-tab-active {

  border:solid 1px #1677ff;
  background: aliceblue;
}


.card-table-user-view .ant-tabs-tab:nth-child(1) {
  border-top-left-radius: 3px ;
  border-bottom-left-radius: 3px ;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

.card-table-user-view .ant-tabs-tab:nth-child(2) {
  border-top-right-radius: 3px ;
  border-bottom-right-radius: 3px ;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
}


.card-table-user-view .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab-btn{
    padding: 2px 10px;
    border-radius: 0;
}

.dashboard .ant-flex h2{
    margin-bottom: 0px;
}
.ant-tabs-nav::before{
    border-bottom: none !important;
}
.ant-table-body{
    scrollbar-width: none;
}
.dashboard-body{
    background: white;
    width: calc(100vw - 80px - 200px);
    margin: 20px;
}
.table-heading{
    padding: 0px 50px;
}
.create-user-edit-delete-table-button{
    border-radius: 0;

}
.card-table-user-view .ant-tabs-nav .ant-tabs-nav-wrap{
    display: flex;
        justify-content: flex-start;
        padding-top: 35px;
} 
.card-table-user-view .ant-tabs-content-holder{
    display: flex;
}

/* sider bar */
.dashboard-sider{
    height: -webkit-fill-available;
}
.ant-layout-sider .ant-layout-sider-zero-width-trigger {
    position: fixed;
    top: 12px;
    left: 0px;
    inset-inline-end: -40px;
    z-index: 999;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #001529;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}
.ant-menu-root{
    position: sticky;
    top:64px;
}
.ant-menu-inline-collapsed{
    top:0
}

@media(min-width:810px) and (max-width:1200px){
    .user-table{
       width: 800px;
    }
    .dashboard-body{
            width: calc(100vw - 80px );
    }
}

@media(min-width:610px) and (max-width:810px){
    .card-table-user-view .ant-tabs-nav{
        width: 200px;
    }
    .dashboard{
        height: 100%;
    }
    .dashboard .ant-tabs{
        display: flex;
    }
    .dashboard-body{
            width: calc(100vw )
    }
    .ant-layout-sider{
        position: absolute;
        z-index: 2222;
        top: 64px;
    }
    .user-table{
        width: 600px;
    }
    .card-table-user-view .ant-tabs-nav{
        width: 600px;
    }
    
}
@media(min-width:410px) and (max-width:600px){
    .user-table{
        width: 410px;
        padding: 0;
    }
    .card-table-user-view .ant-tabs-nav{
        width: 410px;
        padding: 0;
    }
    .dashboard-body{
            width: calc(100vw  );
            margin: 0;
    }   
        .ant-layout-sider{
        position: absolute;
        z-index: 2222;
        top: 64px;
    }
    .table-heading{
        padding: 0%;
    }
    
    
}
@media(min-width:320px) and (max-width:410px){
    .dashboard-body{
            width: calc(100vw - 80px );
    }   
        .ant-layout-sider{
        position: fixed;
                top: 65px;
        z-index: 2222;
    }
    .user-table{
             width: 310px;
        padding: 0;
    }
    .card-table-user-view .ant-tabs-nav{
        width: 310px;
        padding: 0;
    }
    .dashboard-body{
            width: calc(100vw  );
    }   
        .ant-layout-sider{
        position: absolute;
        z-index: 2222;
    }
    .table-heading{
        padding: 0%;
    }
}
/* for dark mode */

.my-body-class .dashboard{
    background: #1f2937;
}
.my-body-class .dashboard-body{
    background: #1f2937;
}
.my-body-class .input-search-user-dashboard{
    background: #374151;
}
.my-body-class .dashboard-body{
    color: white;
}
.my-body-class .card-table-user-view .ant-tabs-tab-active {
    background-color: hsl(207deg 100% 7.84%);
}
.my-body-class .ant-tabs .ant-tabs-tab{
    color: white !important;
}
 .my-body-class :where(.css-dev-only-do-not-override-1odpy5d).ant-pagination .ant-pagination-item a {
    background: #374151;
    border-radius:5px ;
    color: white;
}
.my-body-class .dashboard .ant-flex h2 {
    color: white;
}

.my-body-class .ant-input ,.my-body-class .ant-input-suffix{
    color: white !important;
}
.my-body-class .ant-input::placeholder{
    color: rgb(159, 152, 152);
}