.login-box{
    width: 450px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 

}
.login-box-signup{
    width: 450px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 

}
.flex{
    height: 100%;
}
.signin-botton{
    width: 100%;
}
.ant-col{
    width: 90px;
}
.signup-label .ant-col{
    width: 130px;
}
.signup-nav{
    cursor: pointer;
}
.forgot-password{
    text-align:end;
    color: #2f77ae;
    cursor: pointer;
}
.signUp-describe{
    text-align: center;
}
